<section id="sectiune-galerie-animata">

    <div id="galerie-animata">
        
        <%locals.imageCounter=0;%>
        <% for (let imag of locals.imagini){  %>
            <% if (locals.imageCounter==locals.animLimit){ %>
                <% break; %>
            <% }%>
            <% if (locals.timpCurent >= imag.inceput && locals.timpCurent <= imag.final) %>
                <% { locals.imageCounter+=1;%>
                <!-- <section id=<%- "anim".concat(locals.imageCounter.toString(10)); %> > -->
                    <figure id=<%- "anim".concat(locals.imageCounter.toString(10)); %>>
                        <!-- il ia pe primul care se potriveste cu query-ul din media-->
                        <source srcset="/<%-imag.mic%>" media="(max-width:700px)"/>
                        <img src="/<%-imag.mare%>" alt="text"/>
                        <figcaption><%-imag.descriere%></figcaption>
                    </figure>
                <!-- </section> -->
                <%}%>
        <% } %>

    </div>
</section>